<!doctype html>
<html>
  <head>
    <style>
body {
  background-color: yellow;
}

.box {
  width: 300px;
  height: 300px;
  margin: 150px auto;
}
    </style>
  </head>
  <body>
    <div class="box"></div>
    <script>
(function(){
  var box = document.querySelector('div.box');

  let type = 'test';
  let duration = 6;
  let typeMatch = location.search.match(/type=([^&]+)/)
  if (typeMatch) {
    type = typeMatch[1];
  }

  let durationMatch = location.search.match(/duration=([0-9]+)/)
  if (durationMatch) {
    duration = parseInt(durationMatch[1], 10);
  }


  var sparkle = new Sparkle({
    anchor: box,
    type: type,
    color: '#ff00ff',
    maxAlpha: 1
  });
  sparkle.start(duration);
})();
    </script>
  </body>
</html>