<!doctype html>
<html>
  <head>
    <style>
body {
  background-color: #ff00ff;
}

.box {
  width: 300px;
  height: 300px;
  margin: 200px auto;
}
    </style>
  </head>
  <body>
    <div class="box"></div>
    <script>
(function(){
  var box = document.querySelector('div.box');
  var sparkle = new Sparkle({
    anchor: box,
    size: [500, 500]
  });
  console.log('sparkle', sparkle);
  sparkle.start(10);
})();
    </script>
  </body>
</html>